/* Set root element properties */
#root {
  max-width: 2560px; /* 1280px * 2 */
  margin: 0 auto;
  padding: 4rem; /* 2rem * 2 */
  text-align: center;
  color: #333; /* Set text color */
}

/* Define card styles */
.card {
  padding: 4em; /* 2em * 2 */
  background-color: #f2f2f2; /* Set background color */
  border-radius: 16px; /* 8px * 2 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* 0 4px 8px rgba(0, 0, 0, 0.1) * 2 */
}

/* Add blue color scheme */
body {
  background-color: #f5f8fd; /* Set background color */
}

button {
  background-color: #007bff; /* Set button background color */
  color: #fff; /* Set button text color */
  border: none; /* Remove button border */
  padding: 1em 2em; /* 0.5em * 2, 1em * 2 */
  cursor: pointer; /* Change cursor on hover */
  border-radius: 8px; /* 4px * 2 */
  transition: background-color 0.6s ease; /* 0.3s * 2 */
}

button:hover {
  background-color: #0056b3; /* Change button background color on hover */
}

input[type="text"] {
  width: 66%; /* 2/3 of the webpage width */
  max-width: 800px; /* Maximum width of the input box */
  margin: 0 auto; /* Center the input box */
  padding: 1em; /* 0.5em * 2 */
  border: 2px solid #ccc; /* 1px * 2 */
  border-radius: 8px; /* 4px * 2 */
  box-sizing: border-box; /* Ensure input width includes padding and border */
}

ul {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

li {
  margin-bottom: 1em; /* 0.5em * 2 */
}
